<div id="resultBox" class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user-plus font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Grupa została utworzona</span>
        </div>
    </div>
    <div class="portlet-body">
        <button id="showProfile" type="button" class="btn btn-primary btn-lg">Zobacz grupę</button>
        <button id="addUser" type="button" class="btn btn-secondary btn-lg">Dodaj nową grupę</button>
    </div>
</div>

<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    toastr['success']('Nowa grupa pojawiła się w systemie', 'Dodano grupę');

    $('#showProfile').click(function(){
        window.location ="{{ path('show_profile_group', {'groupId': groupId}) }}";
    });

    $('#addUser').click(function(){
        location.reload();
    });
</script>