<div id="resultBox" class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">Wiadomość została wysłana</span>
        </div>
    </div>
    <div class="portlet-body">
        <button id="sendAnother" type="button" class="btn btn-primary btn-lg">Wyślij kolejną</button>
    </div>
</div>

<script type="text/javascript">
    $('#sendAnother').click(function(){
        location.reload();
    });
</script>