<div id="resultBox" class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user-plus font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Fiszka została dodana do systemu</span>
        </div>
    </div>
    <div class="portlet-body">
        <button id="showFiche" type="button" class="btn btn-primary btn-lg">Zobacz fiszkę</button>
        <button id="addUFiche" type="button" class="btn btn-secondary btn-lg">Dodaj następną</button>
    </div>
</div>

<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    toastr['success']('Fiszka pojawiła się w systemie', 'Dodano Fiszkę');

    $('#showFiche').click(function(){
        window.location ="{{ path('show_profile_fiche', {'ficheId': ficheId}) }}";
    });

    $('#addFiche').click(function(){
        location.reload();
    });
</script>